<h1>homepage!</h1>
<input type="text" name="name" value="" ng-model="search">
<ul>
  <li ng-repeat="item in dirList.list | filter: search" hello-world>
    <person></person>

    <!-- <hello-world></hello-world> -->
  </li>
</ul>
<button type="button" name="button" ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
<button type="button" name="button" ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>
<form ng-submit="dirList.addPerson()">
  <input type="text" placeholder="Name" ng-model="dirList.name">
  <input type="number" placeholder="Age" ng-model="dirList.age">
  <input type="submit" placeholder="Submit">
</form>
